.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
vue.config.js
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.zip
*.7z
node_modules.zip
node_modules.7z
.imivr/
demo/
workspaces/
*.log